<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>{{site.title}}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=stylesheet href=https://simple.kemitchell.com/normalize.css>
    <link rel=stylesheet href=https://simple.kemitchell.com/styles.css>
  </head>
  <body>
    <header><h1>{{site.title}}</h1></header>
    <main>
{{content}}
    </main>
    <footer>
      <p><a href=http://members.calbar.ca.gov/fal/Licensee/Detail/291465>Kyle E. Mitchell</a> is the lawyer responsible for this website.  His address is:</p>
      <address>725 Washington Street, Suite 203, Oakland, California 94607, USA</address>
    </footer>
  </body>
</html>
