<!doctype html>
<html lang="EN">
  <head>
    <meta charset="UTF-8">
    <title>K.E. Mitchell’s Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://simple.kemitchell.com/normalize.css">
    <link rel="stylesheet" href="https://simple.kemitchell.com/styles.css">
</style>
  </head>
  <body>
    <header>
      <h1>Kyle E. Mitchell’s Work</h1>
    </header>
    <main>
{{content}}
    </main>
    <footer>
      <p><a href="http://members.calbar.ca.gov/fal/Licensee/Detail/291465">Kyle E. Mitchell</a> is the lawyer responsible for this website.  His address is:</p>
      <address>725 Washington Street, Suite 203, Oakland, California 94607, USA</address>
    </footer>
  </body>
</html>
